apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: data-platform
spec:
  type: ClusterIP
  ports:
    - port: 9092
      targetPort: 9092
      name: plaintext
    - port: 29092
      targetPort: 29092
      name: internal
  selector:
    app: kafka
