apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: data-platform
spec:
  type: ClusterIP
  ports:
    - port: 2181
      targetPort: 2181
      name: client
  selector:
    app: zookeeper
